* {
	margin: 0;
	padding: 0;
	color: white;
}

body {
	background-color: #16161D;
}

h1 {
	text-transform: uppercase;
	font-size: 8vh;
}

nav {
	height: 10vh;
}

.ola {
	height: 20vh;
	width: 100%;
	top: 0;
}

.navbar .navbar-toggler .navbar-toggler-icon{
	color: white;
}

/* HEADER */

.navbar-brand {
	color: white !important;
	font-size: 5vh;
}

.navbar li a {
	color: white !important;
	font-size: 5vh;
	float: right;
}

/* SECCION PRINCIPAL */

.modal-h1 {
	color: black;
	text-align: center;
}

.modal-p {
	color: black;
	text-align: center;
	font-size: 20px;
}

.contenedor {
	height: 70vh;
	display: grid;
	align-items: center;
	display: grid;
	grid-template-areas:
		"imagen contenido";
	grid-template-columns: 1fr 1fr;
	justify-items: center;
}

.principal-imagen {
	grid-area: imagen;
}

.principal__imagen {
	height: 55vh;
	width: auto;
}

.principal-formulario {
	grid-area: contenido;
	display: grid;
	align-items: center;
	justify-items: center;
	justify-content: center;
	grid-template-areas:
		"titulo"
		"correo"
		"contra"
		"boton";
		row-gap: 2vh;
}

.principal-formulario .principal-titulo {
	grid-area: titulo;
}

.principal__titulo {
	font-weight: bold;
	color: #FFFF;
}

.principal-formulario .principal-correo {
	grid-area: correo;
}

.principal-formulario .principal-contra {
	grid-area: contra;
}

.principal-formulario .principal-boton {
	grid-area: boton;
}

.principal-formulario .principal-contra input, .principal-formulario .principal-correo input {
	height: 6vh;
	width: 40vw;
	font-size: 1vw;
}

.principal-formulario .principal-boton button {
	width: 17vw;
}



@media only screen and (max-width: 600px) {


	.contenedor {
		height: 70vh;
		display: grid;
		align-items: center;
		display: grid;
		grid-template-areas:
			"imagen" 
			"contenido";
		grid-template-columns: auto;
		grid-template-rows: 1fr 1fr;
	}
	
	.principal-imagen {
		grid-area: imagen;
	}
	
	.principal__imagen {
		height: 30vh;
		width: auto;
	}
	
	.principal-titulo {
		text-align: center;
	}

	.principal__titulo{
		font-size: 5vh;
	}

	.principal-formulario .principal-contra input, .principal-formulario .principal-correo input {
		height: 7vh;
		width: 90vw;
		font-size: 4vw;
	}

	.principal-formulario .principal-boton button {
		width: 50vw;
	}

}